@model PhotoFolio.ViewModels.GalleryViewModel

@{
    ViewBag.Title = "Gallery";
    Layout = "_Layout";
}


<!-- Category Dropdown -->
<div class="container mt-4">
    <form method="get" asp-action="Index" asp-controller="Gallery" class="mb-3">
        <div class="row">
            <div class="col-md-4">
                <select name="category" class="form-select" onchange="this.form.submit()">
                    <option value="">All</option>
                    @foreach (var cat in Model.Categories)
                    {
                        if (Model.SelectedCategory == cat.Name)
                        {
                            <option value="@cat.Name" selected>@cat.Name</option>
                        }
                        else
                        {
                            <option value="@cat.Name">@cat.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
    </form>
</div>

<!-- Gallery Section (qalan hissə eyni qalır) -->


<!-- Gallery Section -->
<section id="gallery" class="gallery section">
    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 justify-content-center">
            @if (!Model.Photos.Any())
            {
                <div class="col-12">
                    <p>No photos found for “@Model.SelectedCategory” category.</p>
                </div>
            }
            else
            {
                @foreach (var photo in Model.Photos)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="gallery-item h-100">
                            <img src="@photo.Url" class="img-fluid" alt="" />
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <a href="@photo.Url" title="@photo.Title" class="glightbox preview-link">
                                    <i class="bi bi-arrows-angle-expand"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
