@model PhotoFolio.ViewModels.LoginViewModel

@{
  Layout = null;
}

<link rel="stylesheet" href="~/css/login.css"/>

<div class="auth-wrapper">
  <div class="form-modal">
    <h3 class="text-center mb-4">Login to PhotoFolio</h3>

    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
      @Html.AntiForgeryToken()
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>

      <div class="mb-3">
        @Html.LabelFor(m => m.Login, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(
          m => m.Login,
          new
          {
            @class = "form-control",
            placeholder = "Enter username or email",
            type = "text"
          })
        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
      </div>
      <br/>

      <div class="mb-3">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
      </div>
      <br/>

      <button type="submit" class="btn btn-primary w-100">Login</button>
    }

    <hr class="my-3"/>
    <p class="text-center small">
      Don’t have an account?
      <a asp-controller="Account" asp-action="Register">Sign up now</a>
    </p>
  </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>