@model PhotoFolio.ViewModels.AccountViewModel

@{
  Layout = null;
}

<link rel="stylesheet" href="~/css/login.css"/>

<script src="~/js/login.js"></script>

<div class="auth-wrapper">
  <div class="form-modal">
    <div class="form-toggle">
      <button id="login-toggle" onclick="toggleLogin()">log in</button>
      <button id="signup-toggle" onclick="toggleSignup()">sign up</button>
    </div>

    <div id="login-form">
      @using (Html.BeginForm("Login", "Account", FormMethod.Post))
      {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => m.Username, new { placeholder = "Enter email or username" })
        @Html.PasswordFor(m => m.Password, new { placeholder = "Enter password" })
        <button type="submit" class="btn login">login</button>
        <hr/>
        <p class="text-center">
          Don’t have an account?
          <a href="javascript:void(0);" onclick="toggleSignup()">Register now</a>
        </p>
      }
    </div>

    <div id="signup-form">
      @using (Html.BeginForm("Signup", "Account", FormMethod.Post))
      {
        @Html.AntiForgeryToken()
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your email", type = "email" })
        @Html.TextBoxFor(m => m.Username, new { placeholder = "Choose username" })
        @Html.PasswordFor(m => m.Password, new { placeholder = "Create password" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password" })
        <button type="submit" class="btn signup">create account</button>
        <p>Clicking <strong>create account</strong> means that you agree to our <a href="#">terms of services</a>.</p>
        <hr/>
      }
    </div>
  </div>
</div>